<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<script>
	window.addEventListener("load", function() {
		anchors = document.querySelectorAll('#languages a');

		anchors.forEach(function(el) {
			el.addEventListener("click", function(event) {
				event.preventDefault();
				document.cookie = "lang=" + this.getAttribute('data-lang')
						+ ";" + "path=" + "${pageContext.request.contextPath}"
						+ ";" + "max-age=" + (30 * 24 * 60 * 60);

				location.reload();
			})
		});
	});
</script>

<div id="header">
	<h1>[[${@site.title }]]</h1>

	<div id="languages">
		<div th:if='${lang == "en" }'>
			<a href="" data-lang="ko">KO</a>
			<a href="" class="active" data-lang="en">EN</a>
		</div>
		<div th:if='${lang == "ko" }'>
			<a href="" data-lang="ko" class="active">KO</a>
			<a href="" data-lang="en">EN</a>
		</div>
	</div>
	<ul>
		<th:block sec:authorize="isAnonymous()">
			<li><a th:href="@{/user/login}">[[#{header.gnb.login}]]</a></li>
			<li><a th:href="@{/user/join}">[[#{header.gnb.join}]]</a></li>
		</th:block>
		<th:block sec:authorize="isAuthenticated()">
			<sec:authentication property="principal" var="authUser" />
				<li><a th:href="@{/user/update}">[[#{header.gnb.settings}]]</a></li>
				<li><a th:href="@{/user/logout}">[[#{header.gnb.logout}]]</a></li>
				<li>[[#{header.gnb.greeting}]] [[${#authentication.principal.name }]] </li>
			</sec:authorize>
		</th:block>
	</ul>
</div>