<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
<script th:src="@{/assets/js/jquery/jquery-1.9.0.js}"></script>
<script>
	$(function(){
		$("#btn-check").click(function(){
			var email = $("#email").val();
			
			if(email == "") {
				return;
			}
			
			$.ajax({
				url : "/api/user/checkemail?email="+email,
				type : "get",
				dataType : "json",
				success : function(response) {
					if(response.result != "success") {
						console.error(response.message);
						return;
					}
					if(response.data.exist) {
						alert("이메일이 존재합니다. 다른 이메일을 사용해 주세요.");
						$("#email").val("");
						$("#email").focus();
						return;
					}
					
					$("#img-check").show();
					$("#btn-check").hide();
				},
				error : function(xhr, status, err) {
					console.error(err);
				}
			});
		});
	});
</script>
</head>
<body>
	<div id="container">
        <th:block th:include="includes/header"></th:block>
		<div id="content">
			<div id="user">
				<form th:object="${userVo}" id="join-form" name="joinForm" method="post" th:action="@{/user/join}">

					<!-- name -->
					<label class="block-label" for="name"> 
						[[#{user.join.label.name}]]
					</label>
					<input th:field="*{name}"/>
					<div class="error" th:errors="*{name}"></div>
					
					<!-- email -->
					<label class="block-label" for="email"> 
						[[#{user.join.label.email}]]
					</label>
					<input type="text" th:field="*{email}" />
					<input id="btn-check" type="button" th:value="#{user.join.label.email.check}">
					<img id="img-check" th:src="@{/assets/images/check.png}" style="vertical-align:bottom; width:24px; display: none">	
					<div class="error" th:errors="*{email}"></div>

					<!-- password -->
					<label class="block-label">
						[[#{user.join.label.password}]]
					</label>
					<label for="password">password:</label>
					<input type="password" th:field="*{password}" />
					<div class="error" th:errors="*{password}"></div>
					
					<!-- gender -->
					<fieldset>
						<legend>[[#{user.join.label.gender}]]</legend>
						<label>[[#{user.join.label.gender.female}]]</label> <input type="radio" id="gender-female" name="gender" value="female" th:checked="*{gender == 'female'}">
						<label>[[#{user.join.label.gender.male}]]</label> <input type="radio" id="gender-male" name="gender" value="male"  th:checked="*{gender == 'male'}">
					</fieldset>

					<fieldset>
						<legend>[[#{user.join.label.terms}]]</legend>
						<input id="agree-prov" type="checkbox" name="agreeProv" value="y">
						<label>[[#{user.join.label.terms.message}]]</label>
					</fieldset>

					<input type="submit" th:value="#{user.join.button.signup}">
				</form>
			</div>
		</div>
		<th:block th:include="includes/navigation"></th:block>
        <th:block th:include="includes/footer"></th:block>
	</div>
</body>
</html>